<% if (theme.toc && toc(page.content)) { %>
<aside class="toc-wrap" id="toc-wrap">
  <button class="toc-toggle" id="toc-toggle" aria-label="Toggle table of contents">Contents</button>
  <nav class="toc" id="toc">
    <%- toc(page.content, {list_number: false}) %>
  </nav>
</aside>
<% } %>
